@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #0e0d0d;
  color: white;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: white;
}

section {
  margin-top: 130px;
}




